.housingsContainer {
  background-color: #f6f6f6;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 3rem 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

@media screen and (max-width: 768px) {
  .housingsContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 0 2rem 0;
    background-color: transparent;
  }
}